/target
/.classpath
/.settings
.project
/.idea
/src/main/java/META-INF
/src/main/java/net
/src/main/java/org/hisrc
/src/main/java/org/w3
/src/main/java/org/planit/generated/
/dependency-reduced-pom.xml
/logs
/bin
/doc